.ui-datepicker-week-col {
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.ui-datepicker th {
    font-weight: normal; 
}

.ui-datepicker-week-col, .ui-datepicker td {
    padding: 5px;
} 

.ui-datepicker-calendar .ui-widget-content .ui-state-default {
    background-color: #ffffff;
    border: none;
} 

.ui-datepicker .ui-datepicker-week-start a {
    background-color: #1e3a8a !important;
    color: white !important;
}
.ui-datepicker .ui-datepicker-week-start a:hover {
    background-color: #1e3a8a !important;
    color: white !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none!important;
    background: transparent!important;
}

.ui-datepicker-week-highlight {
    background-color: #87CEFA; /* lichte blauwe kleur */
  }

.ui-datepicker-week-highlight a {
    background-color: #1e3a8a !important;
    color: white !important;
}
.ui-datepicker-week-highlight a:hover {
    background-color: #1e3a8a !important;
    color: white !important;
}

.ui-datepicker td .ui-state-active {
    background-color: #87CEFA !important;
    color: #fff !important;
    border-radius: 50%;
}